<div id="repo-list" class="span12">
  <table id="repos" class="datatable table table-striped" data-source="<%= user_wannahelp_index_url(format: "json") %>">
    <thead>
      <tr>
        <th></th>
        <th>Author/Project</th>
        <th># Issues</th>
        <th># Forks</th>
        <th>Language</th>
        <th>Last Update</th>
        <th>Helping?</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
