<section class="content-main container">
  <!--<div class="filters"></div>-->
  <div class="row">
    <%#= render "filters" %>

    <div class="center-column span8">
      <article>
        <header>
          <h3 class="repoh3">Projects needing help:</h3>
        </header>

        <%= render "results" %>
      </div>
    </article>
  </div>

</section>
