before_install: gem install bundler --pre
language: ruby
rvm:
  - 2.0.0
before_install:
  - gem update --system
  - gem --version
env:
  - RAILS=3.2.16
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/
