<li class="repo-entry">
  <%= image_tag "repo-icon.png", size: "30x30" %>
  <%= link_to helped_repo.repo.full_name, helped_repo.github_url, target: "_blank" %>
  <button class="btn btn-danger wanna-help-btn" type="button" data-id="<%=helped_repo.repo[:id]%>">Remove</button>
</li>
