<li class="repo-entry">
  <%= image_tag "repo-icon.png", :size => "30x30" %>
  <%= link_to own_repo[:name], own_repo[:html_url], :target => "_blank" %>
  <p class='right'>
    <% if own_repo[:need_help] %>
      <button class="help-button on" type="button" data-repo="<%= own_repo[:full_name] %>"></button>
    <% else %>
      <button class="help-button off" type="button" data-repo="<%= own_repo[:full_name] %>"></button>
    <% end %>
  </p>
</li>
