<section class="content-main container">
  <div class="filters"></div>
  <div class="row">

    <%= render "profile_sidebar" %>

    <div class="center-column span8">
      <article>
        <header>
          <h3 class="repoh3">My Repos, Help Wanted?</h3>
        </header>
        <ul class="ul-clean user-repos">
          <%= render :partial => 'users/own_repo', collection: @own_repos %>
        </ul>
      </article>
      <article>
        <header>
          <h3 class="repoh3">I'm contributing to:</h3>
        </header>
        <ul class="ul-clean user-repos">
          <%= render :partial => 'users/helped_repo', collection: current_user.helped_repos %>
        </ul>
      </article>
    </div>
  </div>
</section>
