<section class="map">
  <div id="mapa" style="width: 100%; height: 100%;">map</div>
  <div class="container">
    <div class="row">
      <div class="pop-up-info span4">
        <div class="pop-up-content">
          <h2>Open Source Lovers</h2>
        </div>
      </div>
    </div>
  </div>
</section>

