<%= render "map" %>
<section class="content-main container">
  <div class="filters">
    <p><strong>Repo Stars </strong>/ filter</p>
  </div>
  <div class="row">
    <aside class="left-column span4">
      <header>
        <h4 class="title">Info about the famous repos</h4>
      </header>
      <div class="sidebar-body">
        <ul>
          <li>
            <div class="icon sprites compu"></div>
            <ul class="submenu">
              <li>Name: Contribhub</li>
              <li>Owner's Location: Colombia</li>
              <li>Repo: <a href="#">http//:git.hub/AbX65s</a></li>
              <li>Last change: Pull Request 34 </li>
            </ul>
          </li>
          <li>
            <div class="icon sprites compu"></div>
            <ul class="submenu">
              <li>Name: Contribhub</li>
              <li>Owner's Location: Colombia</li>
              <li>Repo: <a href="#">http//:git.hub/AbX65s</a></li>
              <li>Last change: Pull Request 34 </li>
            </ul>
          </li>
          <li>
            <div class="icon sprites compu"></div>
            <ul class="submenu">
              <li>Name: Contribhub</li>
              <li>Owner's Location: Colombia</li>
              <li>Repo: <a href="#">http//:git.hub/AbX65s</a></li>
              <li>Last change: Pull Request 34 </li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>
    <div class="center-column span8">
      <article>
        <header>
          <h3 class="slogan">Making easier to find cool repos to hack on!</h3>
        </header>
        <div class="article-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          </p>
          <div class="button-zone">
            <a id="auth-login" href="/auth/github">
              <button id="i-want-to-contrib" class="nostyle contrib"><span class="sprites i-want-to-contrib">I Want to contrib</span></button>
              <button id="log-in-git-hub" class="nostyle"><span class="sprites github-black">Login github</span></button>
              <button id="i-wat-to-be-contrib" class="nostyle contrib"><span class="sprites i-want-to-be-contrib">I Want to be contrib</span></button>
            </a>
          </div>
          <div class="leyend-zone">
            <div id="flechas" class="flechas sprites"></div>
            <p class="to-contrib">Search for an Open Source project and help them</p>
            <p class="to-be-contrib">Ask your GitHub's friends so they can contribute to your Open Source project</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>