<footer>
  <hr/>
  <p class="center-text"><em>ContribHub was born in 2012 at <a href="http://pulsoconf.co">PulsoConf/BogotaConf</a> Hackathon, and now is growing thanks to people that love to help.</em></p>
  
  <div class="center-text">
    <a href="https://twitter.com/contribhub" class="twitter-follow-button" data-show-count="false">Follow @contribhub</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like-box" data-href="http://www.facebook.com/contribhub" data-width="292" data-show-faces="false" data-stream="false" data-header="false"></div>
  </div>
</footer>