<footer>
  <hr/>
  <p class="center-text"><em>ContribHub was born in 2012 at <a href="http://pulsoconf.co">PulsoConf/BogotaConf</a> Hackathon, and now is growing thanks to people that love to help.</em></p>
</footer>