%footer
  .container
    .row
      %ul.social
        %li.span1
          %a
          %script
    .row
      #copyright.span8
        %p
          © ContribHub was born in 2012 at
          %a{:href => "http://pulsoconf.co"} PulsoConf/BogotaConf Hackathon, and now is growing thanks to people that love to help.