<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ContribHub - We Love Open Source as You, Wanna Help?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The place where GitHubbers join">
    <meta name="author" content="">

    <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
    <%= stylesheet_link_tag "auth-buttons", :media => "all" %>

    <%= csrf_meta_tags %>
    <style type="text/css">
      body {
        padding-top: 30px;
        padding-bottom: 0px;
      }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("8472ff84b777931eba16c07752882f6b");</script><!-- end Mixpanel -->
  </head>

  <body>
    <div class="container">
      <div class="row-fluid">
      <div class="span2"></div>
          <div class="span8">
            <div class="hero-unit">
        <p class="center-text"><img src="assets/logo-contribhub.png"></p>
        <h2 id="index-subtitle" class="center-text">We Love Open Source</h2>
        <p class="center-text">The place to get help and help others with their coding needs</p>
        <p class="center-text"><a class="btn btn-primary btn-auth btn-large btn-github large" href="/auth/github">Sign in with <strong>GitHub</strong></a></p>
      </div>
          </div>
          <div class="span2"></div>
        </div>

      <div class="row-fluid center-text">
        <div class="span2"></div>
        <div class="span4">
          <img src="assets/help.png" style="height:130px">
          <h2>I Need Help</h2>
          <p><strong>Ask</strong> your GitHub's friends so they can contribute to your Open Source project</p>
        </div>
        <div class="span4">
          <img src="assets/lupa-search.png" style="height:130px">
          <h2>I Want to Help</h2>
          <p><strong>Search</strong> for an Open Source project and help them</p>
       </div>
        <div class="span2"></div>
      </div>

      <footer>
      </footer>

    </div> <!-- /container -->


  </body>
</html>
