<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>contrib_hub</title>
<%= stylesheet_link_tag "landing2.css", :media => "all" %>
<%#='' javascript_include_tag "landing.js" %>
</head>
<body id="sign-in" data-twttr-rendered="true">

<header id="masthead">
<div class="inside-masthead cf">
  <a class="logo" href="https://contribhub.co/">
    <span>contrib_hub</span>
  </a>
  <nav id="nav">
    <ul>
      <li><a class="btn btn-auth btn-large btn-github large" href="/auth/github">Sign in</a></li>
    </ul>
  </nav>
</div>
</header>
<div id="main-content">
  <div class="inside-main-content cf">
    <div id="signin">
      <section class="panel sign-up-panel">
      <header>
      <h1>Contrib Hub</h1>
      </header>
      <div class="inside-panel">
        <p>
          Open source lovers
          making easier to find cool repos to hack on!
        </p>
        <ul class="sign-up-buttons">
          <li>
          <a class="button" href="/auth/github" rel="nofollow">
          <div class="signin github">
          </div>
           Sign in via GitHub </a>
          </li>
        </ul>

      </div>
        <section class="cpanel">
          <embed src="/assets/noun_project_5095.svg" type="image/svg+xml" class='svg'/>
          <h3>I Need Help</h3>
          <p>
            <strong>Ask</strong> your GitHub's friends so they can contribute to your Open Source project
          </p>
        </section>
        <section class="cpanel last">
          <embed src="/assets/noun_project_4715.svg" type="image/svg+xml" class='svg'/>
          <h3>I Want to Help</h3>
          <p>
            <strong>Search</strong> for an Open Source project and help them
          </p>
        </section>
      </section>
    </div>
  </div>
</div>
<footer id="footer">
<div class="inside-footer cf">
  <div id="tweetbtn">
  </div>
  <nav id="footer-nav">
    ContribHub was born in 2012 at PulsoConf/BogotaConf Hackathon, and now is growing thanks to people that love to help.
    <ul class="copyright">
      <li>Copyright © 2012 Oscar Rendon. All rights reserved.</li>
    </ul>
    <ul class="credits">
      <li>StaunchRobots inc.</li>
      <li>Vladimir Penkin</li>
    </ul>
  </nav>
</div>
</footer>
</body>
</html>
